<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>865950577497-p2gq3s1pkfui3au0vg210ss81nopkf3k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.865950577497-p2gq3s1pkfui3au0vg210ss81nopkf3k</string>
	<key>API_KEY</key>
	<string>AIzaSyCTkrY_i5FoDD7GTc6bqYSQSKlLdC3oj8Q</string>
	<key>GCM_SENDER_ID</key>
	<string>865950577497</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>kr.co.hemg2.Warning</string>
	<key>PROJECT_ID</key>
	<string>warning-32f8a</string>
	<key>STORAGE_BUCKET</key>
	<string>warning-32f8a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:865950577497:ios:55406ad65c4bbb0ee2d248</string>
</dict>
</plist>